.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  height: 15%;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: 0 26px;
  width: 100%;

  @media (max-width: 1024px) {
    width: 100%;
  }
  .song-name {
    display: flex;
    align-items: center;

    span {
      color: white;

    }
  }
  .controller {
    margin: auto;
    position: relative;
    left: -75px;
    display: flex;
    align-items: center;
  }

  
    @media (max-width: 1024px) {
      display: none;
    }
  }

